<?xml version="1.0"?>
<robot name="tecdron"
  xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tecdron_base">
    <!--xacro:include filename="$(find robot_description)/urdf/base/tecdron_base.gazebo.xacro" /-->
    <!-- Robot mechanical and motor parameters -->
    <xacro:property name="PI" value="3.1415926535897931"/>
    <xacro:property name="width" value="0.50" />
    <xacro:property name="length" value="0.70" />
    <xacro:property name="height" value="0.20" />
    <xacro:property name="base_mass" value="150.0" />
    
    <xacro:property name="ixx" value="${(1/12.0) * base_mass * (height * height + length * length)}" />
    <xacro:property name="iyy" value="${(1/12.0) * base_mass * (width * width + length * length)}" />
    <xacro:property name="izz" value="${(1/12.0) * base_mass * (width * width + height * height)}" />


    <!-- BASE FOOTPRINT-->
    <link name="base_footprint">
      <inertial>
        <mass value="1.0" />
        <origin xyz="0 0 0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.001 0.001 0.001" />
        </geometry>
      </visual>

    </link>
    <joint name="base_footprint_joint" type="fixed">
      <origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
      <parent link="base_footprint"/>
      <child link="base_link" />
    </joint> 
  
  <!-- BASE_LINK -->
  <link name="base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
        <mesh filename="package://robot_description/meshes/base/tecdron_base.dae"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="${base_mass}" />
      <origin xyz="0 0 0" rpy="0 0 0" />
      <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://robot_description/meshes/base/tecdron_base.dae"/>
      </geometry>
    </visual>
  </link>

  	<!-- Odometry Plugin attached to the robot's base -->
    <gazebo>
        <plugin filename="ignition-gazebo-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
            <odom_topic>/tecdron/base_link/odometry</odom_topic>
            <frame_id>odom</frame_id>
            <child_frame_id>base_link</child_frame_id>
            <use_local_frame>true</use_local_frame>
            <dimensions>3</dimensions>
        </plugin>
    </gazebo>

  </xacro:macro>
</robot>

